<!-- list -->
<ul class="wraplist wrapper-menu">
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">dashboard</i>
        <span class="title">Payment Gateway</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-dashboard">Overview</a>
            </li>
            <!-- <li ui-sref-active="active">
                <a ui-sref="app.soc-members">Overview</a>
            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-add">Clients</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-edit">Transfers</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-profile">Payments</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-member-profile">Reports</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">lock</i>
        <span class="title">Access</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="access.login">Login</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.register">Registration</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.forgotpwd">Forgot Password</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="access.lockscreen">Lock Screen</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-site">Site</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-visitors">Visitors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-report-statistics">Statistics</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.soc-account-settings" class="nosub">
        <i class="material-icons">settings</i>
        <span class="title">Settings</span>
        </a>
    </li>
</ul>
<!-- / list -->